<div ng-controller="AdminCtrl">
    <div class="row" ng-show="userInfo.loggedIn && userInfo.isAdmin">
        <h4>{{ADMINISTRATION}}</h4>
        <div class="list-group col-lg-4 col-md-6">
            <a class="list-group-item active">Users</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>Add New</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
        <div class="list-group col-lg-4 col-md-6">
            <a href="#" class="list-group-item">
                Cras justo odio
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
        <div class="list-group col-lg-4 col-md-6">
            <a href="#" class="list-group-item">
                Cras justo odio
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
    </div>
</div>