/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Ιουν 2014, 10:54:46 πμ
    Author     : andreas
*/

/* RESETS */

*{
    font-family: Verdana;
    outline:none;
    margin:0px;
    padding:0px;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height:normal;
    font-size:100%;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

ul{
    list-style-type:none;
}

.fl{
    float:left;
}
.fr{
    float:right;
}


input[type='search'],
input[type='password'],
input[type='text'] {
    padding:5px;
    moz-border-radius:3px;
    webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #ccc;
}




/* TOP NAV */

body{
    overflow-y: scroll;
}


.nav{
  background-color:#222;

}

.nav-wrapper{
  width:960px;
  margin:0 auto;
  text-align:justify;

}

.nav-select{
    display:none;
    
}

.nav-select select{
    width:100%;
    background-color:#222;
    color:#ccc;
    padding:5px;
    border:1px solid #ccc;
    
}

.nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
  position:relative;
  
}

.nav ul li{
  display:inline-block;
}

.nav ul li:hover{
  background-color:#333;
}

.nav ul li img{
  vertical-align:middle;
  padding-left:10px;
}

.nav ul li a,visited{
  color:#ccc;
  display:block;
  padding:12px;
  text-decoration:none;
  line-height:16px;
}

.nav ul li a:hover{
  color:#ccc;
  text-decoration:none;
}

.nav ul li:hover ul{
  display:block;
}

.nav ul ul{
  display:none;
  position:absolute;
  background-color:#333;
  border:10px solid #222;
  border-top:0;
  margin-left:-10px;
  min-width:200px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  z-index:99999;
}

.nav ul ul li{
  display:block;
  border-bottom:1px solid #222;
}

.nav ul ul li a.icon img{
  vertical-align:middle;
  padding-right:10px;
  padding-left:0px;
}

.nav ul li a.icon img{
  vertical-align:middle;
  padding-right:10px;
  padding-left:0px;
}

.nav ul ul li a,visited{
  color:#ccc;
}

.nav ul ul li a:hover{
  color:#099;
}

.right{
  float:right;
}

.left{
  float:left;
}


/* CONTAINER */

.container{
  width:960px;
  margin:0 auto;
  overflow:hidden;
  background-color:#f1f1f1;
}

.column{
  padding:10px;
  float:left;
}

.left-column{
  width:150px;
}

.middle-column{
  width:600px;  
}

.right-column{
  width:150px;  
}



/* MAIN SEARCH FORM */

.main-search-form input[type='search']{
    width:100%;
    padding:7px !important;
    color:#777;
}




